{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            Add Participant
        </title>
        <style>
            th{
                font-size: 3.5vh;
            }
        </style>
    </head>
    <body>
        <div class="container" style="overflow-wrap: break-word; text-align: center; margin-top: 5%;">
            <!-- buat ngamanin data dan enskripsi -->  
            <h1>Add Participant</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <table class="table-responsive-md" style="width:100%; margin-top: 2%;">
                {{ form_participant.as_table }}
                </table>
                <button type="submit" value="Add" class="btn btn-success" style="margin-top: 2%;">Submit</button>
            </form>
            <a class="btn btn-info" style="margin-top: 2%;" href="{% url 'story6:allactivities' %}">See All Activities</a>
        </div>
    </body>
</html>
{% endblock content %}