{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            All Activities
        </title>
    </head>
    <body>
        <div class="container" style="align-self: center; width: 100%; overflow-wrap: break-word; text-align: center; margin-top: 5%;">
            <h1>Activities</h1>
            <div class="flex-container" style="width: 50%; display: flex; margin-left: 25%;">
                <!-- col-centered untuk ngecenter table, dalam kasus home tombolnya mau di center-->
                {% for a in activities %}
                <div class="col-centered" style="border: medium solid orangered; margin-right: 2%; margin-left: 2%;">
                    <p><b>{{ a.name }}</b></p>
                    {% for p in people %}
                    {% if p.activities == a %}
                    <div class="col-centered">
                        {{ p.participant }}
                    </div>
                {% endif %}
                {% endfor %}
                <div>
                    <a class="btn btn-warning" href="{% url 'story6:addparticipant' ppl_id=a.id %}">Join Activity</a>
                </div>
                </div>
                {% endfor %}
            </div>
            </table>
            <a class="btn btn-info" style="margin-top: 2%;" href="{% url 'story6:addactivities' %}">Add New Activity</a>
    </body>
</html>
{% endblock content %}