/* CSS untuk navbar */
  .navbar {
    background-color: #f27954;
  }
  .navbar .navbar-text {
    color: #000000;
  }
  /*Tulisan di navbar*/
  .navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover{
    color: #ecdbff;
    background-color: #df2a30;
  }

  .navbar .navbar-link {
    color: #000000;
  }
  .navbar .navbar-link:hover {
    color: #ecdbff;
  }

  @media (max-width: 318px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      background-color: #df2a30;
    }
    a.nav-link{
      font-size: 3vw;
    }
    img{
      max-width: 100%;
      height: auto;
    }
    a.med{
      font-size: 4vw;
    }
    .flex-container{
      flex-direction: column;
    }
    .navbar {
      background-color: #f27954;
    }
    .navbar .navbar-text {
      color: #000000;
    }
    /*Tulisan di navbar*/
    .navbar .navbar-nav .nav-link {
      color: #000000;
      border-radius: .25rem;
      margin: 0 0.25em;
    }
    /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover{
      color: #ecdbff;
      background-color: #df2a30;
    }
  
    .navbar .navbar-link {
      color: #000000;
    }
    .navbar .navbar-link:hover {
      color: #ecdbff;
    }
  }

  @media (max-width: 576px) {
    a.nav-link{
      font-size: 3vw;
    }
    img{
      max-width: 100%;
      height: auto;
    }
    a.med{
      font-size: 4vw;
    }
    .flex-container{
      flex-direction: column;
    }
    .navbar {
      background-color: #f27954;
    }
    .navbar .navbar-text {
      color: #000000;
    }
    /*Tulisan di navbar*/
    .navbar .navbar-nav .nav-link {
      color: #000000;
      border-radius: .25rem;
      margin: 0 0.25em;
    }
    /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover{
      color: #ecdbff;
      background-color: #df2a30;
    }
  
    .navbar .navbar-link {
      color: #000000;
    }
    .navbar .navbar-link:hover {
      color: #ecdbff;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      background-color: #f27954;
    }
    .navbar .navbar-text {
      color: #000000;
    }
    /*Tulisan di navbar*/
    .navbar .navbar-nav .nav-link {
      color: #000000;
      border-radius: .25rem;
      margin: 0 0.25em;
    }
    /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover{
      color: #ecdbff;
      background-color: #df2a30;
    }
  
    .navbar .navbar-link {
      color: #000000;
    }
    .navbar .navbar-link:hover {
      color: #ecdbff;
    }
  }
  
  @media (max-width: 992px) {
    .navbar {
      background-color: #f27954;
    }
    .navbar .navbar-text {
      color: #000000;
    }
    /*Tulisan di navbar*/
    .navbar .navbar-nav .nav-link {
      color: #000000;
      border-radius: .25rem;
      margin: 0 0.25em;
    }
    /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover{
      color: #ecdbff;
      background-color: #df2a30;
    }
  
    .navbar .navbar-link {
      color: #000000;
    }
    .navbar .navbar-link:hover {
      color: #ecdbff;
    }
  }
  
  @media (max-width: 1200px) {
    .navbar {
      background-color: #f27954;
    }
    .navbar .navbar-text {
      color: #000000;
    }
    /*Tulisan di navbar*/
    .navbar .navbar-nav .nav-link {
      color: #000000;
      border-radius: .25rem;
      margin: 0 0.25em;
    }
    /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover{
      color: #ecdbff;
      background-color: #df2a30;
    }
  
    .navbar .navbar-link {
      color: #000000;
    }
    .navbar .navbar-link:hover {
      color: #ecdbff;
    }
  }


/* CSS untuk html */
h1,a,ul,h2{
  font-family: 'Calistoga', cursive;
}
a.buttons{
  font-family: 'Caladea', serif;
}
td,h3,h4{
  font-family: 'Caladea', serif;
}
.col-centered{
float: none;
margin: 0 auto;
}
body{
  background-color: #FCF8EE;
}
.styles{
  text-align: center;
}
/* CSS untuk background home*/
div.shape1home{
  position: fixed;
  width: 2200.28px;
  height: 110.99px;
  left: -323.05px;
  top: 300.71px;
  background: #DF2A30;
  transform: rotate(-35deg);
  z-index: -1000;
}
div.shape2home{
  position: fixed;
  width: 2400.28px;
  height: 130.29px;
  left: -250.42px;
  top: 400px;
  background: #FF9234;
  transform: rotate(-35deg);
  z-index: -1000;
}
div.shape3home{
  position: fixed;
  width: 2800.96px;
  height: 130.99px;
  left: -300.05px;
  top: 550.07px;
  background: #FFEFA0;
  transform: rotate(-35deg);
  z-index: -1000;
}
/* CSS untuk background about me*/
div.shape1me{
  position: fixed;
  width: 1720.28px;
  height: 110.99px;
  left: -596px;
  top: 50.71px;
  background: #DF2A30;
  transform: rotate(-35deg);
  z-index: -1000;
}
div.shape2me{
  position: fixed;
  width: 1103.58px;
  height: 100.2px;
  left: -132px;
  top: 150.99px;
  background: #FF9234;
  transform: rotate(-35deg);
  z-index: -1000;
}
div.shape3me{
  position: fixed;
  width: 1720.28px;
  height: 110.99px;
  left: -227px;
  top: 200.71px;
  background: #FFEFA0;
  transform: rotate(-35deg);
  z-index: -1000;
}
/* CSS untuk background contact and skill*/
div.shape1cs{
  position: fixed;
  width: 1720.28px;
  height: 110.99px;
  left: -596px;
  top: 50.71px;
  background: #FFEFA0;
  transform: rotate(-35deg);
  z-index: -1000;
}
div.shape2cs{
  position: fixed;
  width: 1103.58px;
  height: 100.2px;
  left: -132px;
  top: 150.99px;
  background: #FF9234;
  transform: rotate(-35deg);
  z-index: -1000;
}
div.shape3cs{
  position: fixed;
  width: 1720.28px;
  height: 110.99px;
  left: -227px;
  top: 200.71px;
  background:#DF2A30;
  transform: rotate(-35deg);
  z-index: -1000;
}
/* CSS untuk works*/
div.shape1w{
  position: fixed;
  width: 496px;
  height: 473px;
  left: 100px;
  top: -100px;
  background: #FF9234;
  border-radius: 50%;
  z-index: -500;
}
div.shape2w{
  position: fixed;
  width: 666px;
  height: 600px;
  left: -273px;
  top: 137px;
  background: #FFCD3C;
  border-radius: 50%;
  z-index: -1000;
}
div.shape3w{
  position: fixed;
  width: 649px;
  height: 619px;
  left: 751px;
  top: 120px;
  background: #FF9234;
  border-radius: 50%;
  z-index: -1000;
}
div.shape4w{
  position: fixed;
  width: 568px;
  height: 512px;
  left: 1000px;
  top: 400px;
  background: #FFCD3C;
  border-radius: 50%;
  z-index: -500;
}
/* CSS untuk background experience */
div.shape1ex{
  position: fixed;
  width: 423px;
  height: 423px;
  left: 20px;
  top: 129px;
  background: #DF2A30;
  border-radius: 50%;
  z-index: -500;
}
div.shape2ex{
  position: fixed;
  width: 803px;
  height: 803px;
  left: -407px;
  top: 172px;
  background: #FFEFA0;
  border-radius: 50%;
  z-index: -1000;
}
div.shape3ex{
  position: fixed;
  width: 423px;
  height: 423px;
  left: 780px;
  top: 200px;
  background: #DF2A30;
  border-radius: 50%;
  z-index: -1000;
}
div.shape4ex{
  position: fixed;
  width: 803px;
  height: 803px;
  left: 870px;
  top: -290px;
  background: #FFEFA0;
  border-radius: 50%;
  z-index: -500;
}
div.shape5ex{
  position: fixed;
  width: 803px;
  height: 803px;
  left: -192px;
  top: 1510px;
  background: #FFEFA0;
  border-radius: 50%;
  z-index: -500;
}
div.shape6ex{
  position: fixed;
  width: 423px;
  height: 423px;
  left: -124px;
  top: 1254px;
  background: #DF2A30;
  border-radius: 50%;
  z-index: -1000;
}
div.shape7ex{
  position: fixed;
  width: 803px;
  height: 803px;
  left: 608px;
  top: 724px;
  background: #FFEFA0;
  border-radius: 50%;
  z-index: -1000;
}
div.shape8ex{
  position: fixed;
  width: 423px;
  height: 423px;
  left: 700px;
  top: 1254px;
  background: #DF2A30;
  border-radius: 50%;
  z-index: -500;
}