.navbar {
    background-color: darkcyan;
  }
  .navbar .navbar-text {
    color: #ecdbff;
  }
  /*Tulisan di navbar*/
  .navbar .navbar-nav .nav-link {
    color: #ecdbff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  /*Kotak buat ngelihat kita lagi di situ, hover kalo mousenya over the items*/
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover{
    color: #ecdbff;
  }

  .navbar .navbar-link {
    color: #000000;
  }
  .navbar .navbar-link:hover {
    color: #ecdbff;
  }
body{
    background-color: lightcyan;
    text-align:center;
}
h1{
    font-family: 'Prata', serif;
    text-shadow: 3px 2px 1px brown;
    background: rgba(245, 106, 121, 0.2);
    color:rgb(255, 167, 138);
    border: 2px solid rgb(169, 78, 255);
    border-style: dashed;
    padding: 30px;
    letter-spacing: 20px;
    font-size: 40px;
    margin-top: 2%;
}
nav{
    font-family: 'Prata', serif;
}
p,ul{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    margin-top: 2%;
}