{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            Schedule
        </title>
        <style>
            th{
                font-size: 3.5vh;
            }
        </style>
    </head>
    <body>
        <div class="container" style="align-self: center; width: 100%; overflow-wrap: break-word; text-align: center; margin-top: 5%;">
            <h1>Schedule</h1>
            <table class="table-responsive-md" style="width: 100%; margin-top: 3%;">
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Lecturer
                </th>
                <th>
                    Room
                </th>
            </tr>
            {% for c in courses %}
            <tr>
                <td>
                    {{c.name}}
                </td>
                <td>
                    {{c.lecturer}}
                </td>
                <td>
                    {{c.place}}
                </td>
                <td>
                    <a class="btn btn-warning" href="{% url 'story5:coursedetail' detail_id=c.id %}">Details</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{% url 'story5:delete' delete_id=c.id %}">Delete</a>
                </td>
            </tr>
                {% endfor %}
            </table>
            <a class="btn btn-info" style="margin-top: 2%;" href="{% url 'story5:courseadd' %}">Add Course to Schedule</a>
    </body>
</html>
{% endblock content %}