{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            Course Detail
        </title>
    </head>
    <body>
        <div class="container" style="align-self: center; width: 100%; overflow-wrap: break-word; text-align: center; margin-top: 5%;">
        <table class="table-responsive-md" style="width: 100%;">
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Lecturer
                </th>
                <th>
                    Description
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Term
                </th>
                <th>
                    Room
                </th>
            </tr>
            <tr>
                <td>
                    {{course.name}}
                </td>
                <td>
                    {{course.lecturer}}
                </td>
                <td>
                    {{course.desc}}
                </td>
                <td>
                    {{course.sks}}
                </td>
                <td>
                    {{course.term}}
                </td>
                <td>
                    {{course.place}}
                </td>
            </tr>
        </table>
        <a href="{% url 'story5:courseadded' %}">
            <button class="btn btn-icon btn-danger" style="margin-top: 2%;">Back to Schedule</button>
        </a>
        </div>
    </body>
</html>
{% endblock content %}