{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            About Me
        </title>
    </head>
    <body class="styles">
        <div class="container">
            <div class="flex-container" style="align-content: center; width: 100%; display: flex; float: left; margin-top: 8vh; overflow-wrap: break-word;">
                <div style="width: 100%;">
                    <img src="{% static 'MY22square.jpg' %}" width="300" height="300" class="img-fluid rounded-circle"><br/>
                    <a href="{% url 'main:contactskill' %}" style="margin-top: 5vh;" class="buttons btn btn-warning" role="button"><b>Skills and Contacts</b></a>
                </div>
                <div style="text-align: left; width: 100%;">
                    <h1>Herbiyona</h1>
                    <h2>Information System Student</h2>
                    <h3 style="max-width: 85%;">
                        Hello! My name is Herbiyona. You can call me Yona. I am currently in my second years of studying Informations Systems at Faculty of Computer Science, Universitas Indonesia. I really like to write and read. I also love to interact with new people so it’s not a big problem for me to fit in. I am a detail-oriented person and able to work in team.
                    </h3>
                </div>
            </div>
        </div>
        <div class="shape1me"></div>
        <div class="shape2me"></div>
        <div class="shape3me"></div>
    </body>
</html>
{% endblock content %}