{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            Contacts and Skills
        </title>
    </head>
    <body class="styles">
        <div class="container" style="overflow-wrap: break-word;">
            <h1 style="margin-top: 8vh;">Skills</h1>
            <h3 style="text-align: center; margin-top: 5vh; word-spacing: 3vw;">copywriting java python photoshop proofreading</h3>
            <h1 style="margin-top: 8vh;">Contacts</h1>
            <div class="flex-container" style="width: 100%; display: flex; float: left; font-size: 2.5vw;">
                <div style="margin-right: auto; margin-left: auto; padding: 2%;">
                    <a href="https://www.linkedin.com/in/herbiyona-h-a192531b3/" target="_blank">LinkedIn</a>
                </div>
                <div style="margin-right: auto; margin-left: auto; padding: 2%;">
                    <a href="https://instagram.com/herbiyona_" target="_blank">Instagram</a>
                </div>
                <div style="margin-right: auto; margin-left: auto; padding: 2%;">
                    <a href="https://gitlab.com/herbiyona" target="_blank">GitLab</a>
                </div>
            </div>
        </div>
        <div class="shape1cs"></div>
        <div class="shape2cs"></div>
        <div class="shape3cs"></div>
    </body>
</html>
{% endblock content %}