{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            Experience and Education
        </title>
    </head>
    <body class="styles">
        <div class="container">
        <div style="text-align:center; overflow-wrap: break-word;">
            <h1 style="margin-top: 8vh; font-size: 40px;">Experience</h1>
            <h2 style="margin-top: 1vh;">Staff of Student Advocation and Welfare Department</h2>
            <h3>BEM Fakultas Ilmu Komputer Universitas Indonesia</h3>
            <h4>February 2020-now</h4>
            <h2 style="margin-top: 2vh;">Staff of Editorial Marketing</h2>
            <h3>COMPFEST</h3>
            <h4>February 2020-now</h4>
            <h2 style="margin-top: 2vh;">Mentor</h2>
            <h3>OKK UI 2020</h3>
            <h4>June 2020-September 2020</h4>
            <h2 style="margin-top: 2vh;">Staff of Relation</h2>
            <h3>Wisuda Genap 2020</h3>
            <h4>September 2020-now</h4>
        </div>
        <div style="text-align:center; overflow-wrap: break-word;">
            <h1 style="margin-top: 8vh; font-size: 40px;">Educational Background</h1>
            <h2 style="margin-top: 2vh;">Universitas Indonesia</h2>
            <h3>Information System, Faculty of Computer Science</h3>
            <h4>September 2019-2023 (expected)</h4>
            <h2 style="margin-top: 2vh;">SMA Negeri 68 Jakarta</h2>
            <h3>Natural Science</h3>
            <h4>July 2016-June 2019</h4>
            <h2 style="margin-top: 2vh;">SMP Negeri 216 Jakarta</h2>
            <h4>July 2013-June 2016</h4>
            <h2 style="margin-top: 2vh;">SDN RSBI Rawamangun 12 Pagi</h2>
            <h4 style="margin-bottom: 5vh;">July 2007-June 2013</h4>
        </div>
        </div>
        <div class="shape1ex"></div>
        <div class="shape2ex"></div>
        <div class="shape3ex"></div>
        <div class="shape4ex"></div>
        <div class="shape5ex"></div>
        <div class="shape6ex"></div>
        <div class="shape7ex"></div>
        <div class="shape8ex"></div>
    </body>
</html>
{% endblock content %}