{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
      <title>
            Welcome!
        </title>
    </head>
    <body class="styles">
        <div class="container">
            <div class="flex-container" style="width: 100%; display: flex; float: left;">
                <div style="width: 100%; margin: auto;">
                    <h1>Hello! I am Yona</h1>
                    <h1>Nice To Meet You!</h1>
                    <div class="flex-container" style="width: 50%; display: flex; margin-left: 25%;">
                        <!-- col-centered untuk ngecenter table, dalam kasus home tombolnya mau di center-->
                        <div class="col-centered">
                            <a href="{% url 'main:aboutme' %}" class="buttons btn btn-warning" role="button"><b>Get To Know Me</b></a>
                        </div>
                        <div class="col-centered">
                            <a href="{% url 'main:works' %}" class="buttons btn btn-warning" role="button"><b>My Works</b></a>
                        </div>
                    </div>
                    <div class="flex-container" style="width: 50%; display: flex; margin-left: 25%; margin-top: 2%;">
                        <div class="col-centered">
                            <a href="{% url 'story5:courseadd' %}" class="buttons btn btn-warning" role="button"><b>Add Course to Schedule</b></a>
                        </div>
                    </div>
                    <div class="flex-container" style="width: 50%; display: flex; margin-left: 25%; margin-top: 2%;">
                        <div class="col-centered">
                            <a href="{% url 'story6:allactivities' %}" class="buttons btn btn-warning" role="button"><b>See Activities</b></a>
                        </div>
                    </div>
                </div>
                <div class="img-fluid" style="width: 100%; align-items: center; height: auto; display: block;">
                    <img src="{% static 'webcontent.png' %}" style="margin-top: 8vh;"><br/>
                </div>
        </div>
        </div>
        <div class="shape1home"></div>
        <div class="shape2home"></div>
        <div class="shape3home"></div>
    </body>
</html>

{% endblock content %}