{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story1.css' %}">
        <title>
            Welcome!
        </title>
    </head>
    <body>
        <!-- judul -->
        <h1><b>P r o f i l e</b></h1>
        <div class="container">
            <div class="flex-container" style="width: 100%; display: flex; float: left; word-wrap: break-word;">
                <div style="width: 100%; margin: auto;">
                    <p style="color:mediumblue; line-height: 180%;">
                        Nama : Herbiyona<br/>
                        Nama Panggilan : Yona<br/>
                        NPM : 1906353580<br/>
                        Angkatan : 2019<br/>
                        Hobi : Fangirling, Nonton Drama, Baca Novel, Mendengarkan Musik<br/>
                        Deskripsi : Seorang pelajar yang sedang menempuh pendidikan di jurusan Sistem Informasi<br/>dan memiliki passion di bidang menulis<br/>
                        Pendidikan Saat Ini : Universitas Indonesia<br/>
                        Riwayat Pendidikan :<br/>
                        <ul style="color:mediumblue; list-style: none; line-height: 180%;">
                            <li>Universitas Indonesia<br/></li>
                            <li>SMA Negeri 68 Jakarta<br/></li>
                            <li>SMP Negeri 216 Jakarta<br/></li>
                            <li>SDN RSBI Rawamangun 12 Pagi<br/></li>
                        </ul>
                        <ul style="color:mediumblue; list-style: none; line-height: 180%; display: inline-flex;">
                            <li><a href="https://www.linkedin.com/in/herbiyona-h-a192531b3/" target="_blank"><img src="{% static 'in.png' %}" style="max-width: 100%;"></a></li>
                            <li><a href="https://instagram.com/herbiyona_" target="_blank"><img src="{% static 'ig.png' %}" style="max-width: 100%;"></a></li>
                            <li><a href="https://twitter.com/herbiyonayon" target="_blank"><img src="{% static 'twt.png' %}" style="max-width: 100%;"></a></li>
                        </ul>
                    </p>
                </div>
                <div class="img-fluid" style="width: 100%; align-items: center; height: auto; display: block;">
                    <img src="{% static 'MY22.jpg' %}" style="max-width: 100%;"><br/>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock content %}