{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story3css.css' %}">
        <title>
            My Works
        </title>
    </head>
    <body class="works">
        <div class="container" style="overflow-wrap: break-word;">
        <h1 style="margin-top: 8vh;">I write, check out my works at</h1>
        <h4 style="margin-top: 4vh; margin-left: 5%;"><a class="med" href="https://medium.com/@herbiyona">https://medium.com/@herbiyona</a></h4>
        <h1 style="text-align: right;">I edit photos and videos,<br>check out some of my works</h1>
        <div class="flex-container" style="align-content: center; width: 100%; display: flex; float: left; margin-top: 8vh;">
                <div style="margin-left: auto; margin-right: auto;">
                    <img src="{% static 'ab6ixvector.jpg' %}" class="img-fluid" width="300" height="200">
                </div>
                <div style="margin-left: auto; margin-right: auto;">
                    <img src="{% static 'ab6ixvector ot5.jpg' %}" class="img-fluid" width="400" height="150">
                </div>
                <div style="margin-left: auto; margin-right: auto;">
                    <img src="{% static 'seungjoonkillthislove.jpg' %}" class="img-fluid" width="200" height="300">
                </div>
        </div>
        </div>
        <div class="shape1w"></div>
        <div class="shape2w"></div>
        <div class="shape3w"></div>
        <div class="shape4w"></div>
    </body>
</html>
{% endblock content %}